div[data-question-type]:hover{
    border:1px solid #4992ff;
}
div[data-drawer-type]{
    display:none;
}
#msfb-table-item-holder td[colspan]{
    text-align: center;
}
#msfb-show-price:checked,
#msfb-show-price{
    width:auto;
}
.msfb_custom_icon_image:hover{
    cursor: pointer;
    outline: 2px solid gray;    
}