@tailwind base;
@tailwind components;
@tailwind utilities;
.tw-msfb-container{
    @apply container m-auto  h-auto p-16 flex flex-col;
    min-height: 640px;
}
.tw-msfb-progress-bar{
    @apply w-4/5 mx-auto mb-8 h-2 bg-gray-100 relative rounded shadow-lg;
}
.tw-msfb-progress-bar__status{
    @apply h-2 absolute left-0 rounded;
    background-color: var(--msfb-color);
}
.tw-msfb-total-price{
    @apply w-full text-[24px] text-center my-[32px];
}
.tw-msfb-qtn-field{
    min-height: 224px;
    height: auto;
}
/** multiselect **/
.tw-msfb-multiselect-qtn{
    @apply flex flex-col sm:flex-row gap-4 w-full sm:w-4/5 m-auto mt-4;
}
.tw-msfb-multiselect-qtn__item{
    @apply w-full sm:w-1/2 p-4 bg-white border border-gray-100 rounded-lg shadow-lg flex flex-col justify-center gap-8 items-center;
    height: 240px;
}
.tw-msfb-multiselect-qtn__item.selected{
    @apply w-2/4 p-4 bg-white border-2 rounded-lg shadow-lg flex flex-col justify-center gap-8 items-center;
    height: 240px;
    border-color: var(--msfb-color);
}
.tw-msfb-multiselect-qtn__item i{
    @apply text-8xl;
    color: var(--msfb-color);
}
.tw-msfb-multiselect-qtn__item p{
    @apply text-2xl;
}
/** dropdown */
.tw-msfb-dropdown-qtn,
.tw-msfb-text-qtn,
.tw-msfb-date-qtn,
.tw-msfb-upload-qtn,
.tw-msfb-slider-qtn,
.tw-msfb-textarea-qtn{
    @apply flex flex-col justify-center
    mt-8
    m-auto
    w-full
    md:w-3/5
    sm:w-full;
}
.tw-msfb-form-qtn{
    @apply mt-8;
}
.msfb-form-text .item-holder,
.tw-msfb-dropdown-qtn .item-holder{
    @apply absolute top-16 left-0 w-full outline-2 shadow-lg rounded-lg hidden;
}
.tw-msfb-dropdown-qtn__item{
    @apply bg-white p-4 font-medium text-gray-600 outline-2;
    outline: var(--msfb-color);
}
.tw-msfb-dropdown-qtn__item:hover{
    @apply bg-white p-4;
    background-color: var(--msfb-color);
    color: white;
    outline: var(--msfb-color);
    @apply font-medium outline-2 
}
.tw-msfb-dropdown-qtn__item:last-of-type{
    /* @apply bg-white p-4 hover:bg-red-400 hover:text-white font-medium text-gray-600; */
    /* @apply bg-white p-4 hover:bg-red-400 hover:text-white font-medium text-gray-600; */
    border: 0px!important;
}
/** dropdown end */
.tw-msfb-dropdown-field,
.tw-msfb-date-field,
.tw-msfb-text-field,
.tw-msfb-upload-field,
.tw-msfb-slider-field,
.tw-msfb-textarea-field{
    @apply p-4 text-black relative bg-white border-2 rounded-lg;
    border-color: var(--msfb-color);
}
.tw-msfb-textarea-field{
    min-height: 224px;
}
.tw-msfb-slider-field {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    padding: 0px;
    border: 0px;
    background: var(--msfb-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.tw-msfb-slider-field:hover {
    opacity: 1;
}

.tw-msfb-slider-field::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--msfb-color);
    clip-path: circle();
    cursor: pointer;
}

.tw-msfb-slider-field::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--msfb-color);
    cursor: pointer;
}

.tw-msfb-upload-field{
    height: 224px;
    @apply border-dashed w-1/2 m-auto;
}
.tw-msfb-upload-field.selected{
    height: 224px;
    @apply border-solid border-2 w-1/2 m-auto;
}
.msfb-form-field{
    @apply w-full m-auto flex flex-wrap flex-row mb-4 md:w-1/2 lg:w-1/2 xl:w-1/2;
}
.tw-msfb-text-field:focus{
    border-color: var(--msfb-color);
}
.tw-msfb-dropdown-field{
    cursor: pointer;
}
.tw-msfb-dropdown-field i{
    @apply absolute right-3 top-3 text-2xl text-gray-400 items-center;
}
.tw-msfb-btn-container{
    @apply flex flex-row gap-4 justify-center my-16;
}
.tw-msfb-btn-container button{
    @apply px-8 py-2 rounded-lg text-white text-lg;
    background-color: var(--msfb-color);
}
/** checkbox custom design */
/* .msfb-form-checkbox input{
    appearance: none;
    height: 20px;
    width: 20px;
    background: red;
    display: flex;
    flex-direction: column;
}
.msfb-form-checkbox input::-ms-check,
.msfb-form-checkbox input:checked{
    background-color: red;
} */